@tailwind utilities;
.left-0.right-0.top-0.z-10.flex {
  display: none !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#widget-container h2 {
  color: var(--theia-ui-font-color1);
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.usfm_c {
  color: var(--theia-ui-font-color1);
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.editor-wrapper :global(.Editor__root) {
  cursor: text;
}
